.diary-box{
    height: 360px;
    width:var(--box-size_width);
    margin:0 65px 13px 76px;
    
}
.diary-box__diary{
    width:var(--box-size_width);
    height: 323px;
    border-radius: 10px;
    background-color: var(--box-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.diary-box__diary textarea {
	width: 90%;
	height: 90px;
	box-sizing: border-box;
	border: solid 3px #b2b2b2;
	border-radius: 5px;
	font-size: 17px;
    overflow:hidden;
    resize: none;
    padding-left: 7px;
		}

.question{
    font-size:20px;
    font-weight: 700;
    text-align: start;
    width: 90%;
}