@import "reset.css";
@import "grid.min.css";
@import "greeting.css";
@import "time.css";
@import "quote.css";
@import "dday.css";
@import "diary.css";
@import "todo.css";
@import "btn.css";
@import "weather.css";
@import "mobile.css";

*{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
font-family: 'Poppins', sans-serif;
}

:root{
    --box-size_width:320px ;
   --sun-color : black ;
   --sun2-color : #2b2b2b;
   --sun3-color : #f2f2f2;
   --moon-bgColor:#2B2B2B ;
   --box-color:#f2f2f2;   
}


body{
    height: 100vh;
}



.container{
  display: flex;
  align-items: center;
  justify-content: center;
}



.time-box__box, .diary-box__diary, .todo-box__box, .dday-box__box {
    box-shadow: 1px 3px 20px #f2f2f2;
}


.title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom:10px;
}


.col-5{
    display: flex;
    flex-direction: column;
    align-items: center;
}



