.clock{
    font-size: 32px;
    font-weight: 700;
    color: var(--sun-color);
}
.time-box{
    height: 173px;
    width:var(--box-size_width);
    margin:0 65px 13px 76px;
}
.time-box__box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
      width:var(--box-size_width);
     height: 147px;
    border-radius: 10px;
    background-color: var(--box-color);
}
.div-analog{
    width: 120px; 
    height :120px; 
    display:flex; 
    justify-content: center;
    align-items: center; 
    background: url("../img/clock.png");
    background-size: cover;
    border-radius: 50%;

}
.div-analog:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background: lightgray;
    border-radius: 50%;
    z-index : 10;
}
.div-analog .hour,
.div-analog .min,
.div-analog .sec{
    position: absolute;
}
.div-analog .hour .hr{
    width : 50px;
    height : 60px;
}
.div-analog .min .mn{
    width : 90px;
    height : 90px;
}
.div-analog .sec .sc{
    width : 90px;
    height : 90px;
}
.hr, .mn, .sc{
    display:flex; 
    justify-content: center; 
    border-radius: 50%;
}
.hr:before{
    content: '';
    position: absolute;
    width:4px;
    height:30px;    
    background:var(--sun-color);
    z-index : 10;
    border-radius: 6px;
}
.mn:before{
    content: '';
    position: absolute;
    width:3px;
    height:45px;    
    background: var(--sun2-color);
    z-index : 10;
    border-radius: 6px;
}
.sc:before{
    content: '';
    position: absolute;
    width:2px;
    height:60px;    
    background: var(--sun-color);
    z-index : 10;
    border-radius: 6px;
}